.bitcoin-converter {
    background-color: #557beb;
    padding: 0.01rem;
    margin-top: 40px;
}
.bitcoin-converter .cryptonatorwidget {
    padding: 0 !important;
    border: none !important;
}
.bitcoin-converter table {
    border: none;
    background-color: #557beb;
}
.bitcoin-converter table tbody tr td {
    border: none;
    padding: 9px;
}
.bitcoin-converter input,
.bitcoin-converter select {
    border-radius: 2px;
    background-color: #fff;
    height: 53px !important;
    line-height: 53px;
    font-family: roboto, sans-serif;
    color: #9b9b9b;
    font-size: 13px !important;
    font-weight: 400;
    border: none;
    padding-left: 16px;
}

